.popupReset {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background: #1d1d1d;
    display: none;
}

.popup-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 !important;
    padding-bottom: 20px;
}



.buttons_reset {
    display: flex;
    justify-content: space-evenly;
}

#reset_cancel {
    font-size: 16px !important;
    line-height: 25px !important;
    padding: 10px 15px !important;
    width: 150px !important;
    text-align: center !important;
    background-color: gray ;
    border: none !important;
    color: #202020 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    border-radius: 50px;
    margin-right: 70px;
}

#reset_yes {
    margin-left: 70px;
}



#showReset {
    z-index: 9001;
}
.width-auto {
    width: auto !important;
}


.page-item.active .page-link {
    background-color: #f5d730;
    border: 1px solid #f5d730;
}
.page-link {
    line-height: 1.25 !important;
}




.quantity-genres {
    display: flex;
    justify-content: space-between;
}







/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    /*url('http://i.stack.imgur.com/FhHRx.gif')*/
    url('../images/gifs/Spinner-1s-81px.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    color:#555;
    /*max-width:680px;*/
    margin:0 auto;
    padding:0 20px;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    clear:both;
}

.text-center {text-align:center;}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: #2196f3;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.header {
    padding:20px 0;
    position:relative;
    margin-bottom:10px;

}

.header:after {
    content:"";
    display:block;
    height:1px;
    background:#eee;
    position:absolute;
    left:30%; right:30%;
}

.header h2 {
    font-size:3em;
    font-weight:300;
    margin-bottom:0.2em;
}

.header p {
    font-size:14px;
}



#a-footer {
    margin: 20px 0;
}

.new-react-version {
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);

    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

.new-react-version .react-svg-logo {
    text-align: center;
    max-width: 60px;
    margin: 20px auto;
    margin-top: 0;
}





.success-box {
    margin:50px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
}

.success-box img {
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
}

.success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
}



/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:15px; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

